@import url("index.css");

body {
	background: rgb(16, 16, 16);
}

.content {
	margin: 5px;
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	display: grid;
	grid-template-columns: min-content repeat(3, 1fr);
	grid-template-rows: 1fr;
	column-gap: 5px;
}

.control {
	width: min-content;
	height: 100%;
}

.button {
	background: none;
	width: min-content;
	height: min-content;
	padding: 5px;
	color: white;
	cursor: pointer;
}

.widget {
	background: rgb(32, 32, 32);
	border-radius: 10px;
}

.list {
	overflow-y: auto;
	padding: 10px;
	padding-bottom: 5px;
	display: block;
}

/* Card Styling */
.card {
	width: 100%;
	aspect-ratio: 5 / 3;
	background: rgb(16, 16, 16);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 5px;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.colour {
	height: 10%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 5px;
}